<div *ngIf="!apiService.data?.drinks">Loading...</div>
<div *ngIf="(apiService.data?.drinks)[0] as value">
  <!-- <div *ngFor="let element of apiService.data.drinks[i] ; index as i"> {{ element }} </div> -->
  <h1 *ngIf="value.strDrink">
    {{ value.strDrink }}
  </h1>
  <h3 *ngIf="value.strCategory">
    {{ value.strCategory }}
  </h3>
  <p *ngIf="value.strAlcoholic != ''">
    {{ value.strAlcoholic }}
  </p>
  <p *ngIf="value.strGlass != ''">
    {{ value.strGlass }}
  </p>
  <p *ngIf="value.strInstructions != ''">
    {{ value.strInstructions }}
  </p>
  <img
    *ngIf="value.strDrinkThumb != ''"
    src="{{ value.strDrinkThumb }}"
    alt="{{ value.strDrink }} - thumbnail"
  />
  <div>
    <h3>Ingridients</h3>
    <ul>
      <li *ngFor="let item of apiService.ingredients">
        <span>{{ item }}</span>
      </li>
    </ul>
  </div>
</div>
