<div class="drk-body wrapper container-fluid">
  <div class="drk-header row">
    <img
      src="../assets/img/logo.svg"
      alt="Drinkie - logotype"
      class="drk-logo col-xs-12
      col-sm-12
      col-md-6
      col-lg-6"
      routerLink="/"
    />

    <ul class="drk-nav col-xs-12
    col-sm-12
    col-md-6
    col-lg-6">
      <li class="drk-nav__item" routerLink="/" routerLinkActive="drk-nav__item--active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </li>
      <li class="drk-nav__item" routerLink="/random" routerLinkActive="drk-nav__item--active" [routerLinkActiveOptions]="{exact: true}">
        Random
      </li>
      <li
        class="drk-nav__item"
        routerLink="/categories"
        [queryParams]="{ type: 'list', param: 'c', value: 'list' }"
        routerLinkActive="drk-nav__item--active"
      >
        Categories
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
