<div class="drk-body wrapper container-fluid">
  <div class="drk-header row">
    <div  class="col-xs-12
    col-sm-12
    col-md-6
    col-lg-6">
<img
      src="../assets/img/logo.svg"
      alt="Drinkie - logotype"
      class="drk-logo"
      routerLink="/"
    />
    </div>
    

    <ul class="drk-nav col-xs-12
    col-sm-12
    col-md-6
    col-lg-6">
      <li class="drk-nav__item" routerLink="/" routerLinkActive="drk-nav__item--active" [routerLinkActiveOptions]="{exact: true}">
        Home
      </li>
      <li class="drk-nav__item" routerLink="/random" routerLinkActive="drk-nav__item--active" [routerLinkActiveOptions]="{exact: true}">
        Random
      </li>
      <li
        class="drk-nav__item"
        routerLink="/categories"
        [queryParams]="{ type: 'list', param: 'c', value: 'list' }"
        routerLinkActive="drk-nav__item--active"
      >
        Categories
      </li>
      <li
        class="drk-nav__item"
        routerLink="/about"
        routerLinkActive="drk-nav__item--active"
      >
        About
      </li>
    </ul>
  </div>
  <router-outlet></router-outlet>
</div>
