
@font-face {
  font-family: 'Product Sans';
  font-style: normal;
  font-weight: normal;
  src: local('Product Sans Regular'), url('./assets/fonts/ProductSans-Regular.woff') format('woff');
  }
  
  @font-face {
    font-family: 'Product Sans Medium';
    font-style: normal;
    font-weight: normal;
    src: local('Product Sans Medium'), url('./assets/fonts/ProductSans-Medium.woff') format('woff');
    }

body {
  margin: 0px;
  font-family: "Product Sans";
  font-size: 22px;
  color: #333333;

  &:before,
  &:after {
    content: "";
    position: absolute;
    animation: morph 15s linear infinite alternate, spin 20s linear infinite;
    z-index: -1;
    will-change: border-radius, transform;
    transform-origin: 55% 55%;
    pointer-events: none;
  }
  &:before {
    content: "";
    width: 70vmax;
    height: 70vmax;
    background: #f7ff00;
    background: -webkit-linear-gradient(to right, #db36a4, #f7ff00);
    background: linear-gradient(
      to right,
      rgba(#db36a4, 0.3),
      rgba(#f7ff00, 0.5)
    );
    left: -20vmin;
    top: -20vmin;
  }
  &::after {
    width: 70vmin;
    height: 70vmin;
    left: auto;
    right: -10vmin;
    top: auto;
    bottom: 0;
    animation: morph 10s linear infinite alternate,
      spin 26s linear infinite reverse;
    transform-origin: 20% 20%;
    background: #009fff;
    background: -webkit-linear-gradient(
      to right,
      rgba(#ec2f4b, 0.3),
      rgba( #009fff, 0.5)
    );
    background: linear-gradient(
      to right,
      rgba(#ec2f4b, 0.3),
      rgba( #009fff, 0.5)
    );
  }
}


h1, h2, h3 {
  font-family: "Product Sans Medium";
}
@keyframes morph {
  0% {
    border-radius: 40% 60% 60% 40% / 70% 30% 70% 30%;
  }
  100% {
    border-radius: 40% 60%;
  }
}

@keyframes spin {
  to {
    transform: rotate(1turn);
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
}
